main{
   @include center;
   position: relative;
   padding-bottom: 100px;

   .main-container{
    padding: 50px 0;
    width: 60%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @media screen and (max-width: 1000px) {
        width: 80%;
    }

    ul{
        display: flex;
        width: 100%;
        justify-content: space-around;

        li{
            border-bottom: 1px solid $white1;
            padding-bottom: 5px;
            @media screen and (max-width: 470px) {
                font-size: 0.8rem;
            }
           
        }
    }
    .item-container{
        width: 100%;
        padding: 15px 0;
        background: $white1;
        color: $black1;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(4, 1fr);
        justify-items: center;
        border-top: 5px solid $color1;
        @media screen and (max-width: 700px) {
            display: block;
        }

        .item{
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px dashed $black1;
            padding: 20px 0;

            img{
                border-radius: 50%;
                @media screen and (max-width: 470px) {
                    height: 60px;
                }
            }
            p{
                text-align: left;
            }
            .dish{
                font-weight: bold;
                margin-bottom: 5px;
                text-transform: uppercase;
                font-size: 0.8rem;
                @media screen and (max-width: 470px) {
                    font-size: 0.7rem;
                }
            }
            .ingredients{
                font-size: 1rem;
                @media screen and (max-width: 470px){
                    font-size: 0.8rem;
                }
            }
            .price{
                color: $color1;
                font-size: 1.2rem;
                @media screen and (max-width: 470px) {
                    font-size: 0.9rem;
                }
            }
        }
      
    }
   }
   .background-container{
    background: url(../img/bg-menu-01.jpg) left/cover;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 67%;
    z-index: -1;
   }
}