.testimony{
    padding: 150px 0 200px;
    position: relative;
    .container{
        margin: 0 auto;
        padding: 70px 50px;
        width: 70%;
        background: $white1;
        color: $black1;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        img{
            position: absolute;
            height: 75px;
            border-radius: 50%;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        p{
            line-height: 30px;
            font-size: 1.1rem;
            text-align: center;

            &::before{
                content: "❝";
                font-size: 1.3rem;
            }
            &::after{
                content: "❞";
                font-size: 1.3rem;
            }
        }
        h4{
           
            font-size: 1.4rem;
        }
        h6{
            color: $color1;
            font-size: 0.9rem;
           
        }
    }
    .background-container{
        background: url(../img/gmap.jpg) left/cover;
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        z-index: -1;
    }
}